/*mobile devices*/
@media screen and (max-width: 576px){
    .banner{
        display:flex;
        flex-direction: column-reverse;
        padding:0;
        margin:0;
        
    }

    .banner-images{
        border:2px solid red;
        width:85%;
        /* margin:4.88rem 13.06rem 1.56rem 12rem; */
        margin-bottom:2rem;
        padding:0px;
        
    }

    .banner-content{
        margin-left:1.5rem;
        margin-right:1.5rem;
    }
    
    .banner-title{
        font-size: 2.3rem;
        white-space: nowrap;
        padding:0;
        margin:0;
        margin-top: 5rem;
    }

    .banner-description{
        padding:0;
        margin:0;
        margin-bottom: 1rem;
        font-size: 4rem;
    }

    .banner-feature{
        padding:0;
        margin:0;
        font-size: 1rem;
        padding-left:7.2rem;
        padding-bottom: .6rem;
        
    }

    .btn-sign-in{
        margin:0px;
        margin-top: 1rem;
        margin-left: 7rem;
        margin-bottom: 5rem;
        padding: 1rem 2.2rem;
        font-size: 1rem;
    }

    .btn-go-rogue{
        font-size:1rem;
        margin:0;
        padding: 1rem 2.2rem;
        
        
    }

    

    

}